.cartContainer {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background-color: #e6e8ff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  color: #18206f;
}

.bundleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartHeading {
  font-size: 36px;
  font-weight: bold;
  color: #18206f;
}

.bundleDeleteButton {
  color: #ff5c5c;
}

.bundleName {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  color: #3a4a89;
}

.cartList {
  padding: 0;
  margin: 0;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.cartItemLeft {
  flex: 1;
}

.cartPrice {
  font-size: 18px;
  font-weight: bold;
  color: #3a4a89;
}

.checkoutSection {
  text-align: center;
  margin-top: 30px;
}

.checkoutButton {
  color: #004aad;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #004aad;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.checkoutButton:hover {
  background-color: #004aad;
  color: white;
}
