/* Container and Title */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f9f9f9;
    min-height: 50vh;
  }
  
  .title {
    font-size: 2rem;
    color: #1e2b65;
    margin-bottom: 2rem;
  }
  
  /* Card Styling */
  .card {
    background-color: #ffffff;
    border: 1px solid #d6e8ff;
    border-radius: 12px;
    padding: 2rem;
    width: 100%;
    max-width: 900px; /* Larger width for laptop screens */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Header Text */
  .header {
    margin-bottom: 1.5rem;
  }
  
  .bundleTitle {
    font-size: 1.5rem;
    color: #1e2b65;
    margin: 0;
  }
  
  .description {
    font-size: 0.9rem;
    color: #7d7d7d;
    margin-top: 0.5rem;
  }

  /* Report Button */
  .testkitButton {
    font-size: 0.9rem;
    color: #ffffff;
    background-color: #a72608;
    border: none;
    border-radius: 48px;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .testkitButton:hover {
    background-color: #bf3e3e;
  }
  
    
  /* Responsive Design */
  @media (max-width: 768px) {
    .card {
      padding: 1.5rem;
      width: 90%;
    }
  
    .title {
      font-size: 1.8rem;
    }
  
    .bundleTitle {
      font-size: 1.3rem;
    }
  
    .description {
      font-size: 0.85rem;
    }
  
   
  }
  
  @media (min-width: 1024px) {
    .card {
      padding: 3rem;
    }
  
    .title {
      font-size: 2.5rem;
    }
  
    
  }
  