/* Main container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../public/images/profile-cover.png');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding: 40px 20px;
  height: 100vh;
}

/* Title Styling */
.title {
  font-size:3rem;
  color: #334a7d;
  margin-bottom: 20px;
}

/* Card Styling */
.card {
  background: white;
  border-radius: 31px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  padding: 50px;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #2f3e6c;
}

.email {
  color: #98A2FF;
  font-size: 1rem;
  margin-top: 0px;
}

.avatar {
  width: 100px;
  height: 100px;
  background: #d3d9e5;
  border-radius: 50%;
}

/* Information Section */
.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: relative; /* To allow positioning for pseudo-element */
  background: rgba(89, 105, 255, 0.2); /* Transparent background using rgba */
  border-radius: 15px;
  padding: 20px;
  justify-items: center;
  
}

.infoItem {
  text-align: start;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* border: 2px solid red; */
  width: 200px;
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

.infoItem p {
  margin: 5px 0;
  font-size: 1rem;
  color: #18206F;
  font-weight: bold;
  z-index: 2;
}

.infoItem span {
  font-size: 1rem;
  color: #98A2FF;
  font-weight: bold;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .container {
    padding: 20px 10px;
    height: auto;
  }

  .title {
    font-size: 2rem;
    text-align: center;
  }

  .card {
    padding: 30px;
    max-width: 80%;
    border-radius: 15;
  }

  .header {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .name {
    font-size: 1.5rem;
  }

  .email {
    font-size: 0.9rem;
  }

  .avatar {
    width: 100px;
    height: 100px;
    margin-top: 20px;
  }

  .info {
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
  }

  .infoItem {
    flex-direction: column;
    text-align: center;
    width: 80px;
  }

  .icon {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .infoItem p,
  .infoItem span {
    font-size: 0.9rem;
  }
}


.shimmerContainer {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(135deg, #d2d6fa, #a7aff5,  #a1a9f2);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 30px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}