/* styles/Home.module.css */
.container {
    padding: 20px;
    text-align: center;
  }
  
  .heading {
    font-size: 2rem;
    color: #18206F;
    margin-bottom: 0.5rem;
  }
  
  .subheading {
    font-size: 1rem;
    color: #18206F;
    margin-bottom: 2rem;
  }
  
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    justify-items: center;
  }
  
  .card {
    /* background: #fff; */
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    /* text-align: left; */
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  
  .imageContainer {
    /* background: #eaeaea; */
    /* height: 150px; */
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  .imageContainer img{
    width: 200px;
  }
  
  .cardTitle {
    font-size: 1.25rem;
    color: #18206F;
    margin-bottom: 0.25rem;
  }
  
  .cardType {
    font-size: 0.875rem;
    color: #98A2FF;
    margin-bottom: 1rem;
    margin-top: 0px;
  }
  
  .cardDescription {
    font-size: 0.875rem;
    color: #18206F;
  }
  
  .learnMore {
    display: inline-block;
    margin-top: 1rem;
    color: #004AAD;
    font-weight: bold;
    text-decoration: none;
  }
  
  .learnMore:hover {
    text-decoration: underline;
  }
  .learnmore {
    font-size: 1rem;
    color: #98A2FF;
    text-decoration: underline;
    font-weight: 400;
    cursor: pointer;
}
  