.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modalContainer {
  width: 30%;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: start;
}

.modalContent {
  display: flex;
  flex-direction: column;
}

.modalTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputGroup label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.inputField {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.radioGroup {
  display: flex;
  gap: 15px;
}

.radioGroup label {
  font-size: 14px;
  font-weight: 500;
}

.submitBtn {
  width: 100%;
  padding: 10px;
  background-color: #18206F;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitBtn:hover {
  background-color: #003580;
}

.submitBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #004aad;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.8s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
