.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* Add padding for small devices */
}

.modalContainer {
  display: flex;
  flex-direction: row;
  width: 50%;
  max-width: 1000px;
  background: #fff;
  border-radius: 48px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.modalInner {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 5px 10px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
}

.searchInput::placeholder {
  color: #aaa;
}

.searchButton {
  background: none;
  border: none;
  font-size: 18px;
  color: #b7410e;
  cursor: pointer;
  outline: none;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchButton img {
  height: 30px;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .modalContainer {
    width: 80%;
    flex-direction: column; /* Stack content vertically */
  }

  .modalInner {
    flex-direction: column; /* Ensure inner content is stacked */
  }

  .searchBar {
    padding: 10px;
    border-radius: 20px;
  }

  .searchInput {
    font-size: 14px;
    padding: 8px;
  }

  .searchButton img {
    height: 25px;
    margin-right: 15px;
  }

}

@media screen and (max-width: 480px) {
  .modalContainer {
    width: 95%;
  }

  .searchInput {
    font-size: 12px;
    padding: 6px;
  }

  .searchButton img {
    height: 20px;
  }
}
